.app {
  width: 100%;
  padding: 16px;
  flex: 1;
}
.toolbar {
  margin-bottom: 16px;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
}
.button {
  padding: 6px 12px;
  font-size: 16px;
  color: #fff;
  background-color: #0d6efd;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
